apiVersion: v1
kind: Secret
metadata:
  name: gip-app-secrets
  namespace: earnie-testing
data:
  DB_PASSWORD: base64encodedstring
  MAIL_PASSWORD: base64encodedstring
  # AWS_SECRET_ACCESS_KEY:
type: Opaque