myApp/bootstrap/cache/services.php

myApp/storage/app/*
myApp/storage/framework/cache/*
myApp/storage/framework/sessions/*
myApp/storage/framework/views/*
myApp/storage/logs/*

myApp/.scribe

**/node_modules
**/vendor

**.git
**.gitignore
**.gitattributes
**.sass-cache
**.phpunit.result.cache

*.md